* {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

body, .centerSide, .questWindow, .questDialogMenu {
    display: flex;
}

body {
    justify-content: center;
    background-image: url(background.jpg);
    background-size: 40%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.centerSide {
    margin: 0;
    justify-content: center;
    flex-direction: column;
}

.questWindow {
    width: 1700px;
    height: 700px;
    flex-direction: row;
    border-radius: 10px;
}

.questDialogMenu{
    width: 100%;
    padding: 0;
    justify-content: center;
}

.leftSideQuestWindow {
    width: 900px;
    background-color: #1a1c23;
}

.rightSideQuestWindow {
    width: 800px;
    padding: 0;
    background-image: linear-gradient(to right, #1a1c23, rgba(255, 0, 0, 0)), url('dwarf.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 5px 5px 0;
}

.textField {
    width: 700px;
    height: 450px;
    margin: 60px auto 0 auto;
    padding: 20px;
    align-self: center;
    background-color: #111218;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    border-bottom: 1px solid #1a232c;
    word-wrap: break-word;
}

.textInput, .questButton, .clearDataButton, .linkButtonToOtherHmtl {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #111218;
    border: none;
}

.textInput {
    width: 580px;
    height: 60px;
    padding-left: 15px;
}

.textInput:focus {
    outline: none;
}

.questButton, .clearDataButton, .linkButtonToOtherHmtl {
    height: 60px;
    cursor: pointer;
}

.questButton {
    width: 120px;
    border-radius: 0 0 5px 0;
}

.clearDataButton {
    width: 40px;
    border-radius: 0 0 0 5px;
    background-image: url('x.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.linkButtonToOtherHmtl {
    width: 200px;
    border-radius: 5px;
    margin-top: 30px;
    align-self: flex-end;
}

.questButton:hover, .clearDataButton:hover, .linkButtonToOtherHmtl:hover {
    background-color: #0e0e0e;
}

.questButton:active, .clearDataButton:active, .linkButtonToOtherHmtl:active {
    background-color: #111111;
}